<fieldset>
    <legend>Cadastro de Vacinas</legend>
    <form action="/Home/Salvar" method="post">
        <label for="id">ID: </label>
        <input type="number" name="id" value="" placeholder="Insira o ID" />
        <label for="nome">Nome: </label>
        <input type="text" name="nome" value="" placeholder="Insira o Nome" />
        <label for="valor">Valor: </label>
        <input type="number" name="valor" value="" placeholder="Insira o Valor" />
        <input type="submit" value="Salbilars" />
    </form>
</fieldset>