table{
    border: 1px solid #006969;
    margin: 20px auto 10px;
    width: 80%;
    border-collapse: collapse;
}
table thead{
    background: #006969;
    color: #000266;
    text-transform: uppercase;
    height: 30px;
}
table thead tr th{
    text-align: left;
    padding-left: 70px;
}
table tbody tr{
    height: 35px;
}
table tr:nth-child(odd) td{
    background-color: #ada9a9;
}
table tbody tr td{
    padding-left: 19px;
    color: #006969;
}
.id{
    width: 40px;
}
.valor{
    width: 100px;
}
.nome{
    width: 100px;
}
.opcoes{
    width: 200px;
}
.opcoes a{
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
}
.opcoes  .editar{
    color: #ccb800;
}
.opcoes  .editar:hover{
    color: #FFF;
    background: #ccb800;
}
.opcoes .excluir{
    color: #f00;
}
.opcoes .excluir:hover{
    color: #fff;
    background: #f00;
}
