table{
    border: 1px solid #006969;
    margin: 20px auto 10px;
    width: 80%;
    border-collapse: collapse;
}
table thead{
    background: #006969;
    color: #fff;
    text-transform: uppercase;
    height: 40px;
}
table thead tr th{
    text-align: left;
    padding-left: 15px;
}
table tbody tr{
    height: 40px;
}
table tr:nth-child(odd) td{
    background-color: #e2e2e2;
}
table tbody tr td{
    padding-left: 15px;
    color: #006969;
}
.id{
    width: 50px;
}
.valor{
    width: 100px;
}
.opcoes{
    width: 200px;
}
.opcoes a{
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
}
.opcoes  .editar{
    color: #ccb800;
}
.opcoes  .editar:hover{
    color: #FFF;
    /* border:1px solid #ccb800; */
    background: #ccb800;
}
.opcoes .excluir{
    color: #f00;
}
.opcoes .excluir:hover{
    color: #fff;
    background: #f00;
}
