<!DOCTYPE html>
<html>
<head>
    <title>Havan - Home</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header style="height:160px; background-color:cornflowerblue; width:100%;">
        <h1 style="text-align:center;">NOVA PÁGINA</h1>
        <a href="/home/Cadastrar">CADASTRAR</a>
        <a href="/home/Listar">LISTAR</a>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>